@model PSC06.Models.ViewModel.AddUserViewModels
@{
    ViewBag.Title = "Nuevo Usuario";
    Layout = "~/Views/Shared/_LayoutAcceder.cshtml";
}

<h2>Nuevo registro</h2>

<div class="col-md-12">
    <br />
    <br />

    @using (Html.BeginForm("Add", "User", FormMethod.Post, new { role = "Form", @class = "" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationMessage("error", new { @class = "text-danger" })

        @Html.LabelFor(d => d.Nombre)
        @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control" })
        @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(d => d.Email)
        @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
        @Html.ValidationMessage("Email", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(d => d.Password)
        @Html.TextBoxFor(d => d.Password, new { @class = "form-control" })
        @Html.ValidationMessage("Password", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(d => d.ConfirmaPassword)
        @Html.TextBoxFor(d => d.ConfirmaPassword, new { @class = "form-control" })
        @Html.ValidationMessage("Confirma Password", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(d => d.Edad)
        @Html.TextBoxFor(d => d.Edad, new { @class = "form-control" })
        @Html.ValidationMessage("Edad", new { @class = "text-danger" })
        <br />

        <div style="text-align:left;">
            <input type="submit"
                   value="Guardar"
                   class="btn btn-success btn-lg" />

            <input type="button"
                   value="Volver atras"
                   class="btn btn-primary btn-lg"
                   onclick="document.location.href = '@Url.Content("~/User/query")'" />
        </div>

        <br />
        <br />
    }
</div>